/**
  * 所有颜色尺寸集合
 */
// 一、基调颜色，背景颜色
$bcBlue: #3569e7;
$bcWhite: #fff;
$bcBlack: #000;

// 浅色
$tintBlue: #67E1F0;

// 淡色
$lightGreen: #f3f7fd;
$lightGrey: #f3f3f3;




// 文字尺寸
$largestSize: 26px;
$normalSize: 14px;
